<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/css/sample.css">
    </head>
    <body style="background-color:#2E4053;">
        <!-- <br> -->
        <!-- </br> -->
        <header style="background-color:#0E6655;">
            <div>
                <img src="/static/images/header.png" widht="100px" height="100px" style="display:block;margin: auto;">
                <div style="text-align:center;color:#F0F3F4;">バス接近情報</div>
            </div>
        </header>
        <h2>
        {% for route in routes %}
            <br></br>
            <h2 style={{ routes[route]['route_color'] }}>
                <img src={{ routes[route]['route_image'] }} widht="40px" height="40px">
                {{ route }}
            </h2>
                <div>
                    {% for incoming in routes[route]['incomings'] %}
                        {% if incoming['str_type'] != "本日の運行は終了しました。" %}
                            <div style="background-color:#E5E7E9;">
                               <strong>{{ incoming['time'] }} {{ incoming['str_type'] }}</strong>
                            </div>
                        {% else %}
                            <div style="background-color:#707B7C;">
                                <strong>{{ incoming['time'] }} {{ incoming['str_type'] }}</strong>
                            </div>
                        {% endif %}

                        {% if incoming['delay'] != 0 %}
                            <div style="background-color:#B03A2E;text-indent:3rem;color:#FDFEFE;">
                                <img src="/static/images/warning.png" widht="30px" height="30px"">
                                {{ incoming['delay'] }} {{ incoming['destination'] }}
                            </div>
                        {% elif incoming['destination'] == "まもなくバスがまいります" %}
                            <div style="background-color:#D4AC0D;text-indent:3rem;">
                                <img src="/static/images/notification.png" widht="30px" height="30px">
                                {{ incoming['destination'] }}
                            </div>

                        {% elif incoming['destination'] == "運行終了" %}
                            <div style="background-color:#212F3D;text-indent:3rem;color:#C0392B;">
                                <img src="/static/images/cancel.png" widht="30px" height="30px">
                                {{ incoming['destination'] }}
                            </div>

                        {% else %}
                            <div style="background-color:#BDC3C7;text-indent:3rem;">
                                <img src="/static/images/success.png" widht="30px" height="30px">
                                {{ incoming['destination'] }}
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
        </h2>
        {% endfor %}
        <br></br>        
    </body>
</html>